@import url('https://fonts.googleapis.com/css?family=Poppins:700,800,900|Source+Code+Pro:300,400,500');
*{
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	overflow-y: hidden;
	background:white;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.wrapper{
	z-index: -4;
}
#loading-screen{
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #00FF66;
	z-index: 1000;
}
#rotate-mobile{
	width: 100%;
	position: absolute;
	z-index: 10000;
	top: 0;
	display: none;
}
.imgDisplayWrap{
	position: absolute;
	z-index: 10000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
img.imgDisplay {
	border: 12px solid #ffffff;
	background: white;
	display: none;
}
img.imgDisplay:hover{
	cursor: pointer;
}
.interactive:hover{
	cursor: pointer;
}
.displayImgBackgroundOpacity{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #000000;
	opacity: 0.93;
	z-index: 10000;
	display: none;
}
.displayImgBackgroundOpacity:hover{
	background: #3a3a3a;
	cursor: pointer;
}
.pointsDisplay{
	position: absolute;
	z-index: 1000;
	color: #000;
	font-size: 30px;
	padding: 35px 70px;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
	transform: scale(0);
	background: url('../assets/points-background1.png') no-repeat top left;
	background-size: cover;	
}
.activeLink{
	background: black !important;
	color: white;
	font-weight: 400;
}
.pageClose .st1{
	display: none;
}
.pageClose:hover .st1{
	display: block;
	stroke: #00FF66;
	animation: rumblesvgclose 0.17s ease-in infinite;
}
.pageClose:hover .st0{
	stroke: #FF00FF;
}
.page{
	grid-template-columns: repeat(12, 8.3333%);
	grid-gap: 3px;
	grid-template-rows: 15vh;
	width: 98.4%;
	background: black;
	display: none;
	position: absolute;
	top: 2.2%;
	left: 50%;
	transform: translateX(-50%);
	overflow-y: scroll;
	height: 100vh;
	z-index: 2000;
	font-family: 'Source Code Pro', monospace;
  	font-weight: 300;
}
.grid-section{
	grid-column-start: 1;
	grid-column-end: 13;
	display: flex;
	background: #FFFFFF;
}
.case-header{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	padding: 0 15px 4px 18px;
	z-index: 1000;
	position: relative;
}
.case-para{
  	padding-left: 20px;
	width: 89%;
	padding-bottom: 1%;
}
.hesehus-mock-para{
  	padding-left: 46px;
  	width: 50%;
  	margin-top: 1%;
  	align-self: flex-start;
}
.casevid-para.night{
	color: white;
	background: black;
  	width: 16vw;
  	padding-top: 5px;
  	padding-bottom: 8px;
	padding-left: 45px;
	position: absolute;
	margin-top: 1.8%;
}
.inspiration{
	flex-direction: row;
}
.nmg-inspiration{
	justify-content: center;
	flex-wrap: wrap;
}
.hesehus-inspiration{
	justify-content: center;
}
audio#theSound {
	display: none;
}
.nmg-inspiration .img-and-text{
	margin: 3% 3%;
}
.nmg-inspiration .img-and-text img{
	height: 62vh;
}
.nmg-design-obj{
	background: #e3e3e3;
  	flex-direction: column;
  	align-items: center;
}
.nmg-design-obj h2{
	width: 100%;
	background: #00FF66;
}
.postit-center{
	padding: 5% 0;
	width: 95%;
}
.nmg-design-obj img{
	width: 23%;
}
.nmg-result-para{
  	padding-left: 46px;
  	width: 50%;
  	margin-top: 1%;
  	align-self: flex-start;
}
.hesehus-inspiration .img-and-text{
    margin: 7% 3%;
}
.hesehus-inspiration .img-and-text img{
	height: 50vh;
}
.img-and-text{
	margin: 7% 0;
}
.img-and-text img {
	height: 40vh;
}
.img-and-text p {
	margin-left: 4px;
}
.nmg-experimentation img{
	height: 28vh;
}
.nmg-experimentation .nmg-idea{
	height: 43vh;
}
.nmg-exp-para{
  	padding-left: 40px;
  	width: 50%;
  	margin-top: 1%;
  	align-self: flex-start;
}
.skansing-background-exp #skansing-back-vid {
	width: 100%;
}
.skansing-mobile-mockup{
	background: #e3e3e3;
  	flex-direction: column;
  	align-items: center;
}
.skansing-mobile-mockup img{
	height: 78vh;
	padding: 7% 9%;
}
.skansing-mobile-mockup h2{
	width: 100%;
	background: #00FF66;
}
.center-wrap{
	width: 90%;
	display: flex;
	justify-content: center;
}
.skansing-desk-mock1{
	background: #e3e3e3;
	flex-direction: column;
	align-items: center;
}
.skansing-desk-mock1 h2{
	background: #FF00FF;
}
.skansing-desk-mock1 img{
	margin: 0 auto;
	padding: 4% 0;
}
.skansing-desk-mock2{
	background: #e3e3e3;
	flex-direction: column;
	align-items: center;
}
.skansing-desk-mock2 h2{
	background: #00FF66;
}
.skansing-desk-mock2 img{
	margin: 0 auto;
	padding: 4% 0;
}
.case-result-nmg{
	background: white;
  	flex-direction: column;
  	align-items: center;
}
.case-result-nmg h2{
	width: 100%;
	background: #00FF66;
}
img.resultDisplay {
	width: 522px;
	margin: 1%;
}
.case-nmg-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	margin: 4% 0;
}
.videocase{
	border-bottom: 8px solid black;
	width: 100%;
}
.case-matas{
	background: url('../assets/matasPattern.svg');
}
.case-kansas{	
	background: url('../assets/fristadsPattern.svg');
}
.case-dan{
	background: url('../assets/danPattern.svg');
}
.case-ins{
	background: url('../assets/insPattern.svg');
}
.case-proces{
	background: url('../assets/proPattern.svg');
	border-bottom: 1px solid black;
}
.case-header.night{
	color: white;
}
.case-video {
    display: flex;
    flex-direction: column;
	width: 100%;
	position: relative;
	align-items: center;
}
@keyframes pageAnim{
	0%{
		opacity: 0;
	}
	70%{
		opacity: 0;
	}
	100%{
		opacity:1;
	}
}
@keyframes pointsAnim{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(2);
	}
}
.container {
	display: grid;
	grid-template-columns: 15% 6% 79%;
	grid-template-rows: 29% 67% 4%;
	width: 100vw;
	height: 100vh;
	font-family: 'Source Code Pro', monospace;
  	font-weight: 400;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;
}
h2.casesub-header {
	width: 96%;
	padding-left: 40px;
  	margin-left: 0;
	align-self: flex-start;
	font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    border-bottom: 3px solid 
}
.item-1 {
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	position: relative;
	z-index: 100;
}
.item-2 {
    z-index: 200;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
.item-4 {
	display: grid;
	grid-template-columns: 12.5% 12.5% 25% 25% 25%;
	grid-template-rows: 6.25% 6.25% 6.25% 18.75% auto;
	position: relative;
	z-index: 100;
}
.item-3{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	position: relative;
	z-index: 100;
}
.item-5{
	grid-column-start: 3;
	grid-column-end: 4;
    z-index: -100;
	display: grid;
	grid-template-columns: 15% 15% 15% 15% 15% 17% 12%;
	grid-template-rows: 81.25% 6% 12.75%;
}
.hamburger {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
.wrapper{
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 3;
	overflow: hidden;
}
.wrapper video{
	width: 100%
}
button.pageClose {
	background: black;
    color: white;
    border: none;
    border: 1px solid black; 
    z-index: 1000;
	padding: 21px;
    margin: 0;
    border-radius: 100%;
}
.experiments {
    overflow: hidden;
}
svg.close_button{
	stroke: #ffffff;
    stroke-width: 4;
    stroke-linecap: round;
	height: 5vh;
	margin-left: 5px;
    margin-top: 7px;
}
.header{
	background: white;
	grid-column-start: 1;
	grid-column-end: 11;
	height: 15vh;
	display: flex;
	align-items: center;
}
h2.description{
	font-size: 4vw;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-left: 40px;
	line-height: 94px;
}
.about-text-section {
	background: white;
	font-size: 31px;
	align-items: center;
	padding: 0% 0px;
}
.about-text-section p{
	width: 94%;
	margin-left: 40px;
	margin-top: 0%;
	line-height: 44px;
	font-weight: 400;
}
.contact-info {
	background: white;
	align-items: center;
}
.center-about-footer{
	width: 100%;
  	display: flex;
	justify-content: space-evenly;
}
.center-about-footer img{
	height: 7vh;
	fill: #FFFFFF;
}
.about-text-section p mark{
	color: white;
	background: #000;
	padding: 0 13px;
}
.about-text-section mark:hover{
	cursor: pointer;
	color: #FF00FF;
	position: relative;
}
.about-text-section mark:hover:after{
	content:attr(data-text);
	position: absolute;
	left: 15px;
	color: #00FF66;
	animation: rumble 0.2s ease-in infinite;
}
#about-background {
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: -1;
}
#about-background img {
	width: 100%;
}
#about-background video{
	width: 100%;
}
.about-contacts{
	position: relative;
}
.about-contacts svg{
	width: 4vw;
}
.about-contacts svg:hover{
	cursor: pointer;
	animation: iconsAnim 0.2s ease-in infinite;
}
.email{
	position: absolute; 
	background: white;
	border: 3px solid black;
	padding: 8%;
	margin-top: -16vh;
	display: none;
}
.about-email:hover .email{
	display: inline;
}
.email-copy{
	background: #FFFFFF;
	color: #000;
	border: 3px solid black;
	padding: 10%;
	display: none;
}
.email-copy:active {
	background: black;
	color: white;
}
.about-email:hover .email-copy{
	display: inline;
}
.about-email:hover .email-icon{
	display: none;
}
.page.experiments button.pageClose {
	position: absolute;
	right: 3%;
	top: 5%;
}
.marquee-exp {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 13;
	background: black;
	color: white;
	height: 3vh;
}
.marquee-exp p{
	animation: marqueeAnim 50s linear infinite;
  	word-spacing: 1.5vw;
  	float: left;
	margin: 0 3%;
	width: 115%;
}
.marquee-exp.bottom {
	bottom: 2vh;
	position: absolute;
}
.marquee-exp.bottom p{
	animation: marqueeAnim 50s linear infinite;
	animation-direction: reverse;
}
@keyframes iconsAnim{
	0%{
		fill: #000;
	}
	20%{
		fill: #000;
	}
	30%{
		fill: #000;
	}
	50%{
		fill: #000;
	}
	70%{
		fill: #000;
	}
	90%{
		fill: #FF00FF;
		transform: scale(1.01);
	}
	93%{
		fill: #00FF66;
		transform: scale(1.08);
	}
	100%{
		fill: #FFFFFF;
		transform: scale(1);
	}
}
.button-page-close{
	margin-left: -1vw;
	margin-top: -7px;
}
.ctabutton{
	grid-column-start: 11;
	grid-column-end: 13;
	display: flex;
  	align-items: center;
	justify-content: center;
	background: white;
}
.project-desc{
	grid-column-start: 1;
	grid-column-end: 4;
	background: #FF00FF;
	display: flex;
	align-items: center;
}
.project-info{
	background: white;
	grid-column-start: 4;
	grid-column-end: 13;
	padding: 1% 0;
}
.experimentation{
  	flex-direction: column;
  	align-items: center;
}
.experimentation h2{
	background: #00FF66;
}

.nmg-experimentation h2{
	width: 100%;
	background: #FF00FF;
}
.skansing-background-exp{
	padding: 0% 0; 
	  background: black;
	  grid-column-start: 1;
	  grid-column-end: 13;
}
.skansing-experimentation .center-wrap .img-and-text{
	margin: 4% 0;
}
.skexp-img-and-text{
	margin: 5% 2%;
}
.skexp-img-and-text img{
	height: 40vh;
}
.hesehus-experimentation img{
	height: 67vh;
}
.hesehus-experimentation .img-and-text {
	margin: 7% 1%;
}
.hesehus-storyboards{
  	flex-direction: column;
  	align-items: center;
}
.hesehus-storyboards h2{
  	background: #FF00FF;
}
.hesehus-storyboards .img-and-text img{
	height: 77vh;
}
.hesehus-storyboards .img-and-text{
	margin: 7% 1%;
}
.hesehus-videos{
  	flex-direction: column;
  	align-items: center;
}
.hesehus-videos h2{
  	background: #00FF66;
}
.hesehus-videos video{
	width: 50%;
	margin: 5% 0;
	border: 16px solid black;
	background: black;
}
.hesehus-videos video:hover{
	cursor: pointer;
}
.hesehus-mockup{
	background: #e3e3e3;
	flex-direction: column;
	align-items: center;
}
.hesehus-mockup h2{
  	background: #FF00FF;
}
#animation-case-backg{
	background-color: black;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: caseBack 1s ease-out forwards;
	animation-delay: 1.6s;
	z-index: 100;
}
@keyframes caseBack{
	0%{
		width: 0%;
		height: 0vh
	}
	10%{
		width: 10%;
		height: 5vh
	}
	70%{
		width: 100%;
		height: 5vh;
	}
	100%{
		width: 100%;
		height: 100vh
	}
}
.about-text-section .center{
	display: flex;
	flex-direction: column;
}
#to-be-an {
	width: 90vw;
	margin-left: 4vw;
	margin-top: -13vh;
}
.bubbles-intro-zoom{
	position: absolute;
  	top: 31vh;
  	z-index: 1;
  	width: 32vw;
	left: 19vw;
	display: none;
	visibility: hidden;
	animation: bubbles-into-anim 0.7s ease-in;
	animation-delay: 1.1s;
}
.bubbles-intro-pan{
	position: absolute;
  	top: 40vh;
  	z-index: 1;
  	width: 15vw;
	left: 40vw;
	display: none;
	visibility: hidden;
	animation: bubbles-into-anim 0.8s ease-in;
	animation-delay: 1.5s;
}
.bubbles-intro-click2{
	position: absolute;
  	top: 50vh;
  	z-index: 1;
  	width: 42vw;
	left: 52vw;
	display: none;
	visibility: hidden;
	animation: bubbles-into-anim 0.7s ease-in;
	animation-delay: 2s;
}
#outlinetext{
	animation: rumblesvgclose 0.2s linear infinite;
}
#frame{
	animation: blink 0.1s linear infinite;
}
.to-be-back{
	position: absolute;
	top: 0;
	z-index: -1;
	width: 103%;
}
.to-be-back2{
	position: absolute;
	top: 0;
	z-index: -2;
}
@keyframes blink{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes bubbles-into-anim{
	0%{
		visibility: visible;
		transform: scale(0);
	}
	70%{
		transform: scale(1);
	}
	99%{
		transform: scale(1);
	}
	100%{
		display: none;
	}
}
.mobile-menu{
	font-family: 'Source Code Pro', monospace;
  	font-weight: 400;
	display: none;
}
.case-img-wrap {
    position: relative;
	display: flex;
    align-items: center;
	width: fit-content;
}
.nmg-experimentation .case-img-wrap{
	padding: 1% 2%;
}
button.imgClickInd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-8deg);
	color: black;
	border: 1px solid black;
	background: rgba(0,0,0,0.8);
	padding: 20px 85px;
	font-weight: 500;
	font-size: 2.2em;
	display: none;
}
.displayImgWrap {
    position: relative;
	margin: 1%;
}
.displayImgWrap:hover .clickMe{
	display: block;
	animation: rumbleBorder 0.2s ease-in infinite;
}
.clickMe{
	color: black;
  	border: 1px solid black;
  	background: #000000a8;
  	padding: 2.5% 22%;
  	font-weight: 500;
  	font-size: 2.2em;
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%,-50%) rotate(-8deg);
  	display: none;
}
#full-screen-win{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -50;
}
.case-img-wrap:hover .imgClickInd{
	display: block;
	animation: rumbleBorder 0.2s ease-in infinite;
}
.case-img-wrap:hover .imgClickInd p{
	color: #FF00FF;
}
.case-img-wrap:hover .imgClickInd p:after{
	content:attr(data-text);
	position: absolute;
  	color: #00FF66;
	right: 30%;
	animation: rumble 0.2s ease-in infinite;
}
.displayImgWrap:hover .clickMe p{
  	color: #FF00FF;
}
.displayImgWrap:hover .clickMe p:after{
  	content:attr(data-text);
	position: absolute;
  	color: #00FF66;
	right: 44%;
	animation: rumble 0.2s ease-in infinite;
}
@keyframes rumbleBorder{
	0%{
		border: 2px solid #00FF66;
	}
	10%{
		border: 2px solid #FF00FF;
	}
	40%{
		border: 2px solid white;
	}
	60%{
		border: 2px solid #FF00FF;
	}
	80%{
		border: 2px solid #00FF66;
	}
	100%{
		border: 2px solid #00FF66;
	}
}
.CTA{
	background: black;
	position: relative;
  	border: none;
  	padding: 31px 121px;
  	color: white;
  	font-weight: 500;
  	border-bottom: 8px solid #00FF66;
  	border-left: 10px solid #00FF66;
  	box-shadow: -9px 9px 0px #FF00FF;
  	transition: all 0.1s ease;
	left: 47%;
  	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 1vw;
}
.CTA:hover{
  	cursor: pointer;
  	transition: all 0.1s ease;
  	border: none;
  	animation: buttonAnim 0.2s ease forwards;
}
.CTA:hover p{
  	color: #FF00FF;
}
.CTA:hover p:after{
  	content:attr(data-text);
	position: absolute;
	color: #00FF66;
	left: 123px;
	animation: rumble 0.2s ease-in infinite;
}
.contact-section {
	background: white;
  	flex-direction: column;
	align-items: center;
	height: 62vh;
}
.contacttext{
	align-self: flex-start;
	margin-left: 46px;
	margin-top: 28px;
}
.contact-section h2{
	font-size: 5vw;
	font-family: 'Poppins', sans-serif;
	margin-top: 4%;
	margin-bottom: 3%;
}
.CTAcontact{
	background: black;
  	border: none;
  	padding: 31px 121px;
  	color: white;
  	font-weight: 500;
  	border-bottom: 8px solid #00FF66;
  	border-left: 10px solid #00FF66;
  	box-shadow: -9px 9px 0px #FF00FF;
  	transition: all 0.1s ease;
	font-size: 1vw;
	position: relative;
}
.CTAcontact:hover{
  	cursor: pointer;
  	transition: all 0.1s ease;
  	border: none;
  	animation: buttonAnim 0.2s ease forwards;
}
.CTAcontact:hover p{
  	color: #FF00FF;
}
.CTAcontact:hover p:after{
  	content:attr(data-text);
	position: absolute;
	color: #00FF66;
	left: 124px;
	animation: rumble 0.2s ease-in infinite;
}
.CTAcontact:active, .CTAcontact:focus{
	background: #FFFFFF;
	color: #000;
}
.contact-footer{
	background: white;
	align-items: center;
	justify-content: center;
	height: 21vh;
}
.center-contact-footer{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2%;
}
.contact-footer .contacts-contacts{
	width: 4vw;
	margin: 0 3%;
}
.contacts-contacts svg:hover {
	cursor: pointer;
	animation: iconsAnim 0.2s ease-in infinite;
}
.case-info-img{
	width: 512px;
}
.case-nmg-exp{
	width: 346px;
}
.case-img-pc{
	align-self: center;
	width: 80%;
	padding: 4% 0;
}
@keyframes buttonAnim{
  0%{
    background: black;
    box-shadow: -5px 5px 0px #00FF66;
  }
  100%{
    background: black;
    box-shadow: 0px 0px 0px #00FF66;
  }
}
#noise{
	position: absolute;
	width: 100vw;
	z-index: 10;
	display: none;
}
.menu-main{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.menu-main li{
	width: 32.9%;
	text-align: center;
	list-style: none;
	padding: 4px 0;
	font-size: 14px;
	border: 1px solid black;
	background: white;
	margin-left: -2px;
	position: relative;
}
.header-cases{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
.case-top-header{
	font-size: 9.5vw;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin: 0;
	margin-left: 30px;
	text-transform: uppercase;
}
.norremadegaard .case-top-header{
	font-size: 8.5vw;
}
.pageCTA{
	grid-column-start: 1;
	grid-column-end: 13;
	background: white;
	height: 37vh;
	position: relative;
  	overflow: hidden;
}
img.pattern {
	position: absolute;
	top: 0;
}
.menu-cases{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 8;
	font-size: 14px;
	list-style: none;
}
.menu-cases li{
	border: 1px solid black;
	padding: 3.3% 0;
	padding-left: 16%;
	margin-top: -2px;
	position: relative;
	background: white;
}
.menu-cases li:hover{
	cursor: pointer;
	background: black;
	color: #FF00FF;
}
.menu-main li:hover{
	cursor: pointer;
	background: black;
	color: #FF00FF;
}
.menu-cases li:hover p:after{
	content:attr(data-text);
	position: absolute;
	left: 17%;
	color: #00FF66;
	animation: rumble 0.2s ease-in infinite;
}
canvas.productThree {
    background: linear-gradient(#fbedd2, #838fa4);
	border: 10px solid white;
}
canvas.productThree:hover{
	cursor: move;
}
.menu-main li:hover p:after{
	content:attr(data-text);
	position: absolute;
	left: 1%;
	width: 100%;
	color: #00FF66;
	animation: rumble 0.2s ease-in infinite;
}
.logo{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 7;
	width: 213%;
}
.tag{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;
	background: black;
	color: white;
	padding-left: 12%;
	display: flex;
	align-items: center;
}
#bubbles-container canvas{
	position: absolute;
	top:0;
}
.marquee {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 3;
	padding: 6px 0;
	z-index: 0;
	color: white;
	background: black;
	display: inline-block;
	overflow: hidden;
}
.marquee p{
	animation: marqueeAnim 45s linear infinite;
	word-spacing: 5.5vw;
}
@keyframes marqueeAnim {
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}
@keyframes rumble{
	0%{
		transform: translate(0px, 0px)
	}
	10%{
		transform: translate(2px, 2px);
	}
	40%{
		transform: translate(-2px, -1px);
		color: white;
	}
	60%{
		transform: translate(1px, 2px)
	}
	80%{
		transform: translate(2px, 1px)
	}
	100%{
		transform: translate(0px, 0px)
	}
}
@keyframes rumblesvgclose{
	0%{
		transform: translate(0px, 0px)
	}
	10%{
		transform: translate(1px, 2px);
	}
	40%{
		transform: translate(-1px, -1px);
		stroke: white;
	}
	60%{
		transform: translate(1px, 1px);
	}
	80%{
		transform: translate(2px, 1px);
	}
	100%{
		transform: translate(0px, 0px);
	}
}
@keyframes rumblesvg{
	0%{
		transform: translate(0px, 0px)
	}
	10%{
		transform: translate(3px, 3px);
	}
	40%{
		transform: translate(-3px, -1px);
		color: black;
	}
	60%{
		transform: translate(1px, 3px)
	}
	80%{
		transform: translate(3px, 1px)
	}
	100%{
		transform: translate(0px, 0px)
	}
}
.shape-overlays {
	width: 94.3vw;
  	height: 87vh;
  	margin-top: -7px;
  	margin-left: -4px;
  	z-index: 10000;
  	position: fixed;
  	display: none;
  	top: 30%;
  	left: 21.2%;
}
.shape-overlays.is-opened {
	pointer-events: auto;
}
.shape-overlays__path:nth-of-type(1) {
	fill: white;
	stroke: black;
	stroke-width: 0.3;
}
.shape-overlays__path:nth-of-type(2) {
	fill: #00FF66;
	stroke: black;
	stroke-width: 0.3;
}
.shape-overlays__path:nth-of-type(3) {
	fill:#FF00FF;
	stroke: black;
	stroke-width: 0.3;
}
.shape-overlays__path:nth-of-type(4) {
	fill:white;
	stroke: black;
	stroke-width: 0.3;
}
.menu-visible{
	display: grid;
}
.menu-hide{
	display: none;
}

/*Mobile media*/
@media only screen
  and (min-width: 320px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) {
		#rotate-mobile{
			display: block;
		}
}
@media only screen
  	and (min-width: 320px)
  	and (max-width: 736px)
  	and (-webkit-min-device-pixel-ratio: 2)
  	and (orientation: portrait) {

	.st000{fill:none;stroke:#000;stroke-width:6;stroke-linecap:round;stroke-miterlimit:10;}
	.st111{fill:none;stroke:#000;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10; display: none}
	.mobile-menu{
		z-index: 150;
		position: absolute;
    	background: white;
    	width: 100vw;
    	height: 100vh;
		display: grid;
		grid-template-columns: 33.33% 33.33% 33.33%;
		grid-template-rows: 15vh 50vh 31vh auto;
		display: none;
		z-index: 900;
	}
	#animation-case-backg{
		z-index: 1000;
		animation: caseBack 0.8s ease-out forwards;
		animation-delay: 0.1s;
	}
	.shape-overlays {
		width: 100vw;
	  	height: 100vh;
		top:0;
		left:0;
	  	margin-top: -2px;
	  	margin-left: -4px;
		z-index: 100000000000;
	}
	.cross-container{
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
		grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	}
	.hamburger-icon:hover .st111{
		display: block;
		stroke: #00FF66;
		animation: rumblesvg 0.2s ease-in infinite;
	}
	.pageClose .st111{
		display: none;
	}
	.pageClose:hover .st111{
		display: block;
		stroke: #00FF66;
		animation: rumblesvgclose 0.2s ease-in infinite;
	}
	.cross:hover .st111{
		display: block;
		stroke: #00FF66;
		animation: rumblesvg 0.2s ease-in infinite;
	}
	ul.menu-mob{
		position:fixed;
		left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
	}
	li.header-cases {
		font-size: 26px;
		padding-top: 3%;
	}
	ul.menu-mob li{
		border-top: 1px solid black;
    	border-bottom: 1px solid black;
    	padding: 3.3% 0;
    	padding-left: 11%;
    	margin-top: -1px;
    	position: relative;
    	background: white;
    	width: 99vw;
    	font-size: 5vw;
	}
	ul li.header-cases {
		font-size: 9vw;
		padding-top: 6vh;
		padding-bottom: 0.8vh;
	}
	.hamburger-icon:hover .st000{
		stroke: #FF00FF;
		stroke-width:5;
	}
	.cross:hover .st000{
		stroke: #FF00FF;
		stroke-width:5;
	}
	.st000{
		transform: translate(4px,2px);
	}
	.line1{
		opacity:0;
  		animation: dash 0.8s ease-out forwards;
		animation-delay: 0.1s;
		animation-iteration-count: 1;
	}
	.line2{
		opacity:0;
  		animation: dash 0.5s linear forwards;
		animation-direction: alternate;
		animation-delay: 0.4s;
		animation-iteration-count: 1;
	}
	.ham-line1{
		opacity: 0;
		animation: ham 0.7s linear forwards;
	}
	.ham-line2{
		opacity: 0;
		animation: ham 0.6s linear forwards;
		animation-delay: 0.4s;
	}
	.ham-line3{
		opacity: 0;
		animation: ham 0.6s linear forwards;
		animation-delay: 0.55s;
	}
	@keyframes ham{
		0%{
			opacity: 1;
			stroke-dasharray: 60;
			stroke-dashoffset: 60;
		}
		45%{
			opacity: 1;
			stroke-dashoffset: 1;
		}
		100%{
			stroke-dashoffset: 0;
			opacity: 1;
		}
	}
	@keyframes dash {
		0%{
			opacity: 1;
			stroke-dasharray: 50;
			stroke-dashoffset: 50;
		}
		55%{
			stroke-dashoffset: 1;
		}
		  100% {
		    stroke-dashoffset: 0;
				opacity: 1;
		  }
	}
	.cross{
		fill:none;
		stroke:#000000;
		stroke-width:7;
		stroke-linecap:round;
		stroke-miterlimit:10;
		width: 11vw;
		grid-column-start: 3;
    	grid-column-end: 6;
    	grid-row-start: 3;
		grid-row-end: 6;
	}
	.container {
		display: grid;
		grid-template-columns: 33.33% 33.33% 33.33%;
		grid-template-rows: 15vh 50vh 31vh auto;
	}
	.item-1 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.item-3 {
		display: grid;
		grid-template-columns: 10% 10% 20% 20% 20% 20%;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.item-4 {
		display: none;
		grid-template-columns: 10% 10% 20% 20% 20% 20%;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 3;
	}
	.item-5{
		z-index: 1000;
	}
	.menu-cases {
		grid-column-start: 1;
    	grid-column-end: 8;
    	grid-row-start: 8;
    	grid-row-end: 9;
	}
	.menu-cases li {
    	font-size: 14px;
	  	padding-left: 11%;
	}
	.menu-cases li:hover p:after{
		left: 12%;
	}
	.tag {
    	grid-column-start: 1;
    	grid-column-end: 5;
    	grid-row-start: 1;
    	grid-row-end: 2;
		font-size: 14px;
		height: 74%;
	}
	.shape-overlays {
    	width: 131vw;
    	height: 151vh;
    	z-index: 1025;
    	position: fixed;
		display: none;
	}
	.marquee {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end: 4;
	
	}
	.logo {
		width: 65vw;
    	grid-column-start: 2;
    	grid-column-end: 3;
    	grid-row-start: 3;
		grid-row-end: 7;
	}
	.menu-main{
		display: none;
	}
	.header-cases {
		grid-column-start: 2;
    	grid-column-end: 4;
    	grid-row-start: 1;
    	grid-row-end: 4;
    	font-size: 36px;
	}
	.page {
    	grid-template-columns: repeat(4, 25%);
    	grid-gap: 3px;
	}
	.grid-section{
		grid-column-end: 5;
	}
	.skansingit {
   	 	width: 100%;
		top: 0;
		overflow-x: hidden;
	}
	.header {
    	grid-column-end: 5;
    	height: 15vh;
    	width: 98%;
    	justify-content: center;
	}
	.case-top-header {
    	font-size: 13.5vw;
    	margin: 0;
	}
	.ctabutton {
    	grid-column-start: 1;
    	grid-column-end: 5;
    	justify-content: center;
    	width: 98%;
    	padding: 7% 0;
	}
	button.pageClose {
    	padding: 25px;
    	margin: 0;
	}
	.project-desc {
		grid-column-end: 5;
		margin-left: 0px;
    	width: 98%;
    	justify-content: center;
	}
	h2.description {
    	font-size: 8vw;
		line-height: 51px;
		margin-left: 0px; 
		text-align: center;
		padding: 8% 0;
	}
	.case-para {
    	width: 88%;
    	padding-bottom: 13%;
	}
	.project-info {
    	grid-column-start: 1;
    	grid-column-end: 5;
    	padding: 7% 0;
    	width: 100%;
	}
	.pageCTA {
    	grid-column-end: 5;
    	height: 32vh;
	}
	img.pattern {
    	width: 280%;
	}
	.CTA {
    	padding: 19px 70px;
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
    	font-size: 4.5vw;
	}
	.CTA:hover p:after{
		left: 72px;
	}
	.menu-cases li:hover p:after{
		left: 10%;
	}
	.skansing-inspiration {
    	flex-direction: column;
	}
	.img-and-text {
    	margin: 9% 0;
	}
	.img-and-text img {
    	height: auto;
    	width: 100vw;
	}
	.center-wrap {
    	width: 100%;
    	flex-direction: column;
    	align-items: center;
	}
	.skexp-img-and-text {
    	margin: 11% 2%;
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
	}
	h2.casesub-header {
    	width: 98%;
    	padding-left: 0;
    	margin-left: 0;
		text-align: center;
		padding: 3% 0;
		align-self: stretch;
	}
	.skansing-experimentation h2 {
    	font-size: 9.5vw;
	}
	.skansing-mobile-mockup {
    	grid-column-end: 5;
	}
	.skansing-mobile-mockup h2 {
    	font-size: 9.5vw;
	}
	.skansing-desk-mock1 {
    	grid-column-end: 5;
	}
	.skansing-desk-mock1 h2 {
		font-size: 6.5vw;
	}
	.hesehus-mock-para {
    	padding-left: 15px;
    	width: 91%;
		margin-top: 8%;
		align-self: auto;
	}
	.skansing-desk-mock1 img {
    	padding: 11% 0;
    	width: 100%;
	}
	.skansing-background-exp {
    	grid-column-end: 5;
	}
	.skansing-background-exp #skansing-back-vid {
    	width: 100%;
	}
	.skansing-desk-mock2 h2 {
    	font-size: 5.5vw;
	}
	.skansing-desk-mock2 img {
    	padding: 8% 0;
    	width: 98%;
	}
	svg.close_button {
    	stroke-width: 4px;
    	height: 8vh;
	}
	.hesehus {
    	width: 100%;
		top: 0%;
		overflow-x: hidden;
	}
	.hesehus-inspiration {
		flex-direction: column;
    	align-items: center;
	}
	.hesehus-experimentation h2 {
		font-size: 6.5vw;
	}
	.hesehus-storyboards h2 {
    	font-size: 6.5vw;
	}
	.hesehus-videos h2 {
    	font-size: 6.5vw;
	}
	.casevid-para.night {
    	width: 100vw;
    	padding-top: 5px;
    	padding-left: 0;
    	margin-top: 0%;
    	text-align: center;
	}
	.case-video {
    	width: 98%;
    	margin-top: 9%;
	}
	.hesehus-videos video {
    	width: 84%;
    	margin: 17% 0;
	}
	.hesehus-mockup h2 {
    	font-size: 6.5vw;
	}
	.norremadegaard {
    	width: 100%;
		top: 0%;
		overflow-x: hidden;
	}
	.norremadegaard .case-top-header {
    	font-size: 9.5vw;
	}
	.nmg-mood-video{
		width: 150%;
	}

	.nmg-inspiration .img-and-text img {
    	height: auto;
    	width: 100%;
	}
	video.nmg-mood-video {
    	width: 100%;
	}
	.nmg-inspiration .img-and-text {
    	margin: 11% 0%;
	}
	.postit-center {
    	padding: 5% 0;
    	width: 95%;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	.nmg-design-obj img {
    	width: 90%;
	}

	.nmg-experimentation h2 {
    	font-size: 6.5vw;
	}
	.nmg-exp-para {
    	padding-left: 26px;
    	width: 92%;
    	margin-top: 7%;
    	margin-bottom: 7%;
	}
	.nmg-experimentation .nmg-idea {
    	height: auto;
    	width: 89vw;
	}
	.nmg-experimentation .case-img-wrap {
    	padding: 7% 2%;
	}
	.case-result-nmg h2 {
    	font-size: 6.5vw;
   	}
	.nmg-result-para {
    	padding-left: 25px;
    	width: 80%;
    	margin-top: 9%;
    	margin-bottom: 7%;
	}
	.nmg-design-obj h2 {
    	font-size: 6.5vw;
	}
	.displayImgWrap .clickMe p{
		color: #FF00FF;
	}
	.displayImgWrap .clickMe p:after{
		content:attr(data-text);
		position: absolute;
		color: #00FF66;
		right: 44%;
		animation: rumble 0.2s ease-in infinite;
	}
	.displayImgWrap .clickMe{
		display: block;
		animation: rumbleBorder 0.2s ease-in infinite;
	}
	.case-img-pc {
    	width: 97%;
	}
	#full-screen-win{
		height: 100vh;
	}
	.win-video-wrapper{
		overflow: hidden;
	}
	body {
		overflow-y: auto;
	}
	.about {
		width: 100%;
		top: 0%;
		height: auto;
		z-index: 2000;
		overflow: hidden;
		overflow-y: scroll;
	}
	.about-text-section {
		font-size: 26px;
		padding: 9% 0px;
	}
	.about-text-section p {
		width: 83%;
		margin-left: 0;
		margin-top: 0%;
		line-height: 42px;
		text-align: center;
	}
	.about-text-section .center {
		align-items: center;
	}
	.about-text-section mark:hover {
		color: #ffffff;
	}
	.about-text-section mark:hover:after {
		content:none;
		position: absolute;
		color: #fff;
		left: 0;
		animation: none;
	}
	.about-contacts svg {
		width: 17vw;
	}
	.center-about-footer {
		padding: 5% 0;
		width: 98%;
	}
	.contact-section {
		height: 45vh;
		text-align: center;
		width: 98%;
	}
	.CTAcontact {
		padding: 22px 67px;
		font-size: 7vw;
		position: relative;
	}
	.contact {
		width: 100%;
		top: 0%;
	}
	.contacttext {
		margin-left: 0;
		margin-top: 28px;
		width: 100%;
	}
	.contact-section h2 {
		font-size: 5vw;
		margin-top: 6%;
    	margin-bottom: 7%;
	}
	.contact-footer .contacts-contacts {
		width: 17vw;
		margin: 4% 8%;
	}
	.contact-footer {
		height: 18vh;
		width: 98%;
	}
	.CTAcontact:hover p:after{
		left: 65px;
	}
	.CTAcontact:active{
		background:white;
		color: black;
	}
	.experiments {
		width: 100%;
		top: 2%;
	}
	#to-be-an {
		width: 102vw;
		margin-left: 0;
		margin-top: 16vh;
	}
	.page.experiments button.pageClose {
		top: 4.5%;
	}
	.marquee-exp {
		width: 400%;
		grid-column-start: 1;
		grid-column-end: 5;
		height: 4vh;
	}
	.marquee-exp.bottom {
		bottom: 0vh;
	}
	.marquee-exp p {
		animation: marqueeAnim 45s linear infinite;
	}
	.marquee-exp.bottom p {
		animation: marqueeAnim 45s linear infinite;
	}
}

@media only screen
  and (min-width: 1190px)
  and (max-width: 1360px)
  {
		.tag {
    	font-size: 12px;
		}
		.header-cases {
    	font-size: 30px;
		}
		.menu-cases {
    	font-size: 12px;
		}
		.menu-main li {
  		font-size: 12px;
		}
		.img-and-text img {
			height: 35vh;
		}
	.casevid-para.night {
    width: 18vw;
    font-size: 14px;
	}
	h2.description {
    line-height: 68px;
	}
	.about-text-section {
    font-size: 23px;   
	}
	.about-text-section p {
    line-height: 35px;
	}
	.skansing-desk-mock1 img {
		width: 86%;
	}
	.skansing-desk-mock2 img {
		width: 86%;
	}
	.hesehus-storyboards .img-and-text {
		margin: 7% 5%;
	}
	.nmg-inspiration .img-and-text img {
		height: 71vh;
	}
	video.nmg-mood-video {
		width: 89vw;
	}
	img.resultDisplay {
		width: 385px;
		margin: 0%;
	}
	.displayImgWrap:hover .clickMe p:after{
	
	  right: 65px;
  }
  .case-top-header {
    margin-left: 20px;
	}
	h2.description {
		margin-left: 30px;
	}
	.CTA {
		font-size: 1.3vw;
	}
	.hesehus-experimentation .img-and-text img {
		height: 70vh;
	}
}